<ion-header style="background-color: #44739d;">
  <ion-toolbar color="#44739d">
    <ion-title>Header</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1 style="text-align: center;">X Inventory Management System</h1>
  <h3 style="text-align: center;">Select Branch Name</h3>
  <ion-list>
    <ion-item>
      <ion-label>Operating System</ion-label>
      <ion-select ok-text="Okay" cancel-text="Nah">
        <div *ngFor="let companyName of allCompaniesName">
          <ion-select-option value={{companyName}}>{{companyName}}</ion-select-option>
        </div>
      </ion-select>
    </ion-item>
  </ion-list>
  <h5 style="text-align: center;">Select Financial Year</h5>
  <ion-list>
    <ion-item>
      <ion-label>Operating System</ion-label>
      <ion-select ok-text="Okay" cancel-text="Nah" fullscreen>
        <div *ngFor="let yearDescription of allYearsDescription">
          <ion-select-option value={{yearDescription}}>{{yearDescription}}</ion-select-option>
        </div>
      </ion-select>
    </ion-item>
  </ion-list>
  <ion-button>Next</ion-button>
</ion-content>

<ion-footer style="background-color: #44739d;">
  <ion-toolbar color="#44739d">
    <ion-title>Footer</ion-title>
  </ion-toolbar>
</ion-footer>