<ion-header>
  <ion-toolbar>
    <ion-title>test2</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- <ion-card style="height: 100%;">
    <ion-card-header>
      <ion-card-title>

      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-text>Sign in</ion-text>
      </ion-item>
      <ion-item hidden>
        <ion-text style="color: red;">
          That Microsoft doesn't exist. Enter a different account or <a>get a new one.</a>
        </ion-text>
      </ion-item>
      <ion-item>
        <ion-input placeholder="Email or Username"></ion-input>
      </ion-item>
      <ion-item>
        <ion-text> Don't have an account? <a>Sign up</a> </ion-text>
      </ion-item>
      <ion-item class="ion-margin-vertical ion-text-center">
        <ion-button fill="solid" color="secondary" size="small"
          style="text-transform: none; width:auto;" >Next</ion-button>
      </ion-item>
    </ion-card-content>
  </ion-card> -->

  <ion-grid>
    <ion-row>
      <ion-col>
        <!-- <div class="ion-float-left"> -->
        <!-- <div class="ion-text-left"> -->
        <div>
          1 of 3
        </div>
      </ion-col>
      <ion-col>
        <!-- <div class="ion-text-center"> -->
        <div>
          2 of 3
          <!-- <button>Hi</button> -->
        </div>
      </ion-col>
      <ion-col>
        <!-- <div class="ion-text-right"> -->
        <!-- <div class="ion-float-right"> -->
          <div>
        3 of 3
        </div>
      </ion-col>
      <ion-col>
        <div>
          <!-- <div class="ion-float-right"> -->
          3 of 3
        </div>
      </ion-col>
      <ion-col>
        <div>
          <!-- <div class="ion-float-right"> -->
          3 of 3
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <!-- <div class="ion-float-left"> -->
        <!-- <div class="ion-text-left"> -->
        <div>
          1 of 3
        </div>
      </ion-col>
      <ion-col>
        <!-- <div class="ion-text-center"> -->
        <div>
          2 of 3
          <!-- <button>Hi</button> -->
        </div>
      </ion-col>
      <ion-col>
        <!-- <div class="ion-text-right"> -->
        <!-- <div class="ion-float-right"> -->
          <div>
        3 of 3
        </div>
      </ion-col>
      <ion-col>
        <div>
          <!-- <div class="ion-float-right"> -->
          3 of 3
        </div>
      </ion-col>
      <ion-col>
        <div>
          <!-- <div class="ion-float-right"> -->
          3 of 3
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>